.col {
    flex-basis: 33.333333%;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}

.card {
    background: white;
    padding: 15px 10px;
    border-radius: 15px;
    text-align: center;
}

.card img {
    width: auto;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

@media (max-width: 768px) {
    .col {
        flex-basis: 50%;
    }
}


@media (max-width: 576px) {
    .col {
        flex-basis: 100%;
    }
}
